@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewData["Title"] = "Login";
}
    <div class="container">
        @using (Html.BeginForm("Connect", "TestGrid", FormMethod.Post))
        {

            <form method="post" action="Login">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    @Html.TextBox("email", null, null, new { @class = "form-control" })

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    @Html.TextBox("password", null, null, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        }
        @Html.ActionLink("Sign up", "SignUp", null, null, new { @class = "btn-link" })

    </div>
